
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Homepage</title>
		<style>{{.CSS}}</style>
		<script>
			function Redirect(p) {window.location.hostname = p}
			function Launch(URL)
			{
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.open( "POST", location.href + 'run/' + URL, false ); // false for synchronous request
				xmlHttp.send( null );
				return xmlHttp.responseText;
			}
			function test(URL, id)
			{
				document.getElementById(id).innerHTML = Launch(URL)
			}
		</script>
	</head>
	<body>
		{{if ne .Title ""}}
		<h1>
			{{.Title}}
		</h1>
		{{end}}

		<main class="wrapper">

			<div class="flex center">
				{{range .EntrieGroups}}
				<div>
					<h2 class="title">{{.SubTitle}}</h2>
					<ul class="list">
						{{range .Entries}}
						<li>
							<button type="button" onclick="{{.Command}}">{{.Name}}</button>
						</li>
						{{end}}
					</ul>
				</div>
				{{end}}
			</div>

			<div class="stats">
				{{range .Labels}}
				<div id="{{.Prompt}}">Loading</div>
				{{end}}
			</div>
		
		</main>

		<script>
			function UpdateLabel(id, str) {
				document.getElementById(id).innerHTML = str;
			}
			{{range .Labels}}
				UpdateLabel("{{.Prompt}}", `{{.Prompt}}`)
				{{end}}
			window.setInterval(() => {
				{{range .Labels}}
				UpdateLabel("{{.Prompt}}", `{{.Prompt}}`)
				{{end}}
			}, 3000);
		</script>
	</body>
</html>

